body {
    background-image: url("../images/the_office.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    }

.btn,
.submit {
    border-radius: 5px;
    box-shadow: 5px 5px 1px 0px;
      
}
.btn:hover,
.submit:hover {
    border-radius: 5px;
    box-shadow: -5px -5px 1px 0px;
}

button, 
div, 
form, 
input {
    margin: 10px;
}
 /* .heading {
    position: fixed;
}  */

/* #giphy-view{
    padding-top: 300px;
}  */

.topics-view {
    width: 40%;
    float: left;
}
/* #giphy-view {
    height: 100%;
     background-image: url("../images/the_office.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
} */